<template>
  <div id="app">
    <div class="main-card">
      <div class="name-page">Task`s</div>
      <textarea type="text" placeholder="Enter a title for this card..." />
      <button class="btn-green">Add card</button>
      <div v-for="task in tasks" :key="task.id" class="task">
        1) {{ task.text }}
        <router-link to="/edit">edit</router-link>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  computed: {
    ...mapState(['tasks'])
  },
  methods: {
    ...mapActions(['updateTasks'])
  },
  created() {
    this.updateTasks()
  }
}
</script>

<style lang="scss" scoped>
@import '~@/bootstrap/bootstrap.scss';

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background-color: #efc089;
  height: 100vh;
  margin: -8px;
  padding-top: 25px;
  .main-card {
    position: relative;
    width: 225px;
    height: 363px;
    background: #dfdfdf;
    border-radius: 10px;
    margin: auto;
    padding: 8px 10px;
    .name-page {
      font-size: 14px;
      line-height: 14px;
      color: #919191;
      margin-bottom: 9px;
    }
    textarea {
      width: 206px;
      height: 41px;
      border-radius: 6px;
      border: none;
      outline: none;
      font-size: 12px;
      padding: 6px;
    }
    .btn-green {
      width: 75px;
      height: 25px;
      background: #7ca65d;
      border-radius: 6px;
      border: none;
      margin: 0px;
      color: #fff;
      font-size: 12px;
      display: block;
      margin-left: auto;
    }
    .task {
      width: 206px;
      height: 18px;
      background: #ffffff;
      border-radius: 6px;
      padding: 2px 5px;
      font-size: 12px;
      margin: 10px 0px;
    }
  }
}
</style>
